.search-cui-class{
    flex-grow: 1;
}

#brunomag-termene-search-cui-btn{
    margin-top: -15px;
    margin-bottom: 10px;
    width: 100%;
    font-weight: bold;
    padding-bottom: 10px;
    border-radius: 10px;
}
#brunomag-termene-search-cui-btn:hover{
    text-decoration: none;
}
.brmg-underline:hover{
    text-decoration: underline;
}

.hide {
    display: none
}
.show {
    display: block
}

#brunomag-termene-pow-by{
    display: flex;
    position: inherit;
    font-size: 16px;
    text-transform: lowercase;
    justify-content: flex-end;
}

#brunomag-termene-pow-by img{
    padding-left: 10px;
}